@font-face {
    font-family: "MyGoodFont";
    src: url("../fonts/Prototype.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "MyGoodFont", Arial, Helvetica, sans-serif;
    background: url("../images/background.jpg");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
}

.introHolder {
    overflow: hidden;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 2;

}

.introHolder>img:nth-child(1) {

    width: 100vw;
    height: 50vh;
    top: 0;
    position: absolute;
    animation: animateTopBar 0.8s linear 0.5s 1 forwards;

}

.introHolder>img:nth-child(2) {

    width: 100vw;
    height: 55vh;
    position: absolute;
    bottom: 0;
    animation: animateBottomBar 0.8s linear 0.5s 1 forwards;


}

@keyframes animateTopBar {
    100% {
        top: -60vh;
        display: none;
    }
}

@keyframes animateBottomBar {
    100% {
        bottom: -60vh;
        display: none;
    }
}

.introScreen>h1 {

    width: fit-content;
    margin: 0 auto;
    font-size: 4rem;
    padding-top: 40vh;
    animation: fadeAway 0.5s linear 1.7s 1 forwards;
    color: white;
}

@keyframes fadeAway {
    100% {
        /* opacity: 0; */
        padding-top: 7vh;
    }
}

canvas {
    background-color: white;
    display: none;
    justify-content: center;
    opacity: 0;
    transition: all 0.8s;
}

.mainScreen {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

#AiFrame {
    position: absolute;
    /* z-index: 1; */
    display: none;    
}

#writerBuffer{
    position: absolute;
    bottom: 90px;
    letter-spacing: 0.4px;
}
